
<!DOCTYPE html>
<html>
  <head>

    </style>
    <meta charset="utf-8">
    <title>Vacation</title>
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <h1 class="Title">Choose Your City!</h1>
    <div id="box">
      <div id="top">
        <a id="topright" href="/animals/?city=Losangelos&imageth=http://athomemms.com/index/wp-content/uploads/2014/03/What-to-do-in-Chicago-IL-fun-family-vacation-ideas-.jpg &imaget=http://vacationpackagesallinclusiv-e.com/wp-content/uploads/2012/10/Chicago.jpg &imageo=http://travel.home.sndimg.com/content/dam/images/travel/fullset/2011/09/12/af/chicago-lake-shore-drive.rend.hgtvcom.616.462.suffix/1491585454223.jpeg">Losangelos</a>
        <a id="topmiddle" href="/animals/?city=Chicago&imageth=https://i.kinja-img.com/gawker-media/image/upload/s--T0-K6gLo--/c_scale,fl_progressive,q_80,w_800/wtcnqekq9zwta5gpq48r.jpg &imaget=http://www.essexinn.com/d/essexinn/media/Attractions/3583017878_ee2e8e3d8b_b_1423674445483.jpg &imageo=https://urbanmatter.com/chicago/wp-content/uploads/2015/04/Chicago-Architecture.jpg">Chicago</a>
        <a id="topleft" href="/animals/?city=Sanatonio&imageth=http://www.planetware.com/photos-large/USTX/texas-san-antonio-things-to-do-the-saga.jpg &imaget=https://cache-graphicslib.viator.com/graphicslib/thumbs360x240/10152/SITours/san-antonio-super-pass-in-san-antonio-424265.jpg &imageo=https://www.chcp.edu/sites/default/files/CHCP-San-Antonio-Campus.jpg">Sanatonio</a>
      </div>
    </div>
        <h2 class="Title"id="CityName">{{city}}</h2>
        <section id="geocode">
          <p>{{temperature}}</p>
        </section>
        <div id="middle">
        <img id= "middleright"src="{{imageo}}">
        <img id="middlemiddle" src="{{imaget}}">
        <img id="middleleft" src="{{imageth}}">
      </div>
      <div id="footer">
        Copy Right Paly WebDev {{getCurrentYear}}

      </div>
    </div>

  </body>
</html>
